<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='styles/main.css' rel='stylesheet' type="text/css">
</head>
<body ng-app="boekingApp">
  <h1>Boekingen vergaderzaal</h1>
  <div ng-controller="mainCtrl" class="list">
    <div class="item">
      <label>Naam boeker: </label>
      <input name="naam" ng-model="naam" type="text"/>
      <label>Info boeking: </label>
      <input name="info" ng-model="info" type="text"/>
      <label>Doel boeking: </label>
      <input name="doel" ng-model="doel" type="text"/>
      <label>Tijd boeking: </label>
      <input name="tijd" ng-model="tijd" type="text"/>

      <div class="actions">
        <a href="" ng-click="addBoeking(naam,info,doel,tijd); resetInput()">add</a>
      </div>
     </div>

     <h3 style="text-align:center">Gemaakte boekingen</h3>

     <div class="item"  ng-repeat="boeking in boekingen">
       <label><b>Naam boeker:</b> {{boeking.name}} </label>
       <label><b>Info boeking:</b> {{boeking.info}} </label>
       <label><b>Doel boeking:</b> {{boeking.doel}} </label>
       <label><b>Tijd boeking:</b> {{boeking.tijd}}</label>
       <div class="actions">
         <a href="" ng-click="deleteBoeking(boeking, $index)"  class="Delete">delete</a>
       </div>
      </div>
  </div>
  <script src="vendor/angular.js" type="text/javascript"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
  <script src="scripts/controllers/main.js" type="text/javascript"></script>
  <script src="scripts/services/data.js" type="text/javascript"></script>
</body>
</html>
