<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='styles/main.css' rel='stylesheet' type="text/css">
</head>
<body ng-app="boekingApp">
  <h1>Boekingen vergaderzaal</h1>
  <div ng-controller="mainCtrl" class="list">
    <div class="item">
      <label>Naam boeker: </label>
      <input ng-model="naam" type="text"/>
      <label>Info boeking: </label>
      <input ng-model="info" type="text"/>
      <label>Doel boeking: </label>
      <input ng-model="doel" type="text"/>
      <label>Tijd boeking: </label>
      <select ng-model="dag" ng-options="dag for dag in dagen" ng-init="dag = dagen[0]">
        <option value="{{dag}}">{{dag}}</option>
      </select>
      <select ng-model="maand" ng-options="maand for maand in maanden" ng-init="maand = maanden[0]">
        <option value="{{maand}}">{{maand}}</option>
      </select>
      <select ng-model="tijd" ng-options="tijd for tijd in tijden" ng-init="tijd = tijden[0]">
        <option value="{{tijd}}">{{tijd}}</option>
      </select>

      <div class="actions">
        <a href="" ng-click="addBoeking(naam,info,doel,dag,maand,tijd); resetInput()">add</a>
      </div>
     </div>

     <h3 style="text-align:center" ng-show="boekingen.length>0">Gemaakte boekingen</h3>

     <table style="width:100%" ng-show="boekingen.length>0">
       <tbody>
         <tr>
           <th>Naam boeker</th>
           <th>Info boeking</th>
           <th>Doel boeking</th>
           <th>Tijd boeking</th>
           <th style="width:45px"></th>
         </tr>
         <tr ng-repeat="boeking in boekingen">
           <td>{{boeking.name}}</td>
           <td>{{boeking.info}}</td>
           <td>{{boeking.doel}}</td>
           <td>{{boeking.tijd}}</td>
           <td><a href="" ng-click="deleteBoeking(boeking, $index)"  class="Delete">delete</a></td>
         </tr>

       </tbody>

     </table>



  </div>
  <script src="vendor/angular.js" type="text/javascript"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
  <script src="scripts/controllers/main.js" type="text/javascript"></script>
  <script src="scripts/services/data.js" type="text/javascript"></script>
</body>
</html>
