body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.custom-select{
  width: 33.3%;
  float: left;
}
.custom-table{
  table-layout: fixed;
}

.custom-table th,td{
  overflow: hidden;
}
